$main-color: #42b4ca;
$main-color-dark: #2d8c9f;
$secondary-color: #bfde42;
$secondary-color-light: #cdf042;
$black-color: #242424;
$gray-color: #868686;
$gray-color-2: #cccccc;
$gray-color-3: #dddddd;
$blue-color: #4259ff;
$white-color-1: #fefefe;

$white-transparent: rgba(255, 255, 255, 0.5);
$white-transparent-2: rgba(255, 255, 255, 0.6);
$gray-transparent: rgba(104, 103, 103, 0.5);
