@import '../../styles/abstract/variables';

.not-found-card {
  .character-image {
    position: relative;

    img {
      opacity: 0.75;
    }
  }

  .not-found-stamp {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    display: block;
    transform: translate(-50%, -50%) rotate(-15deg);
    color: $blue-color;
    font-size: 1.8em;
    font-weight: 900;
    border: 8px double $blue-color;
    box-sizing: border-box;
    padding: 5px 7px;
    text-transform: uppercase;
    text-align: center;
    -webkit-mask: url('../../assets/images/stamp-texture.png') repeat center /
      contain;
    mask: url('../../assets/images/stamp-texture.png') repeat center / contain;
    mix-blend-mode: multiply;
  }

  .not-found-description {
    text-align: center;
  }
}
