@import '../../styles/abstract/variables';

.characters_list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  margin: 15px auto;

  .card_link {
    color: inherit;
    text-decoration: inherit;
  }

  &.view_mode__list {
    .card_link {
      width: 100%;
    }
  }
}

.controls {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  column-gap: 100px;
  justify-content: space-around;
}

.no_character {
  font-size: 3em;
  font-weight: 600;
  color: $main-color;
  text-shadow: 0px 0px 5px $secondary-color;
}
