@import '../../styles/abstract/variables';

.characters-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  margin: 15px auto;

  .card-link {
    color: inherit;
    text-decoration: inherit;
  }
}

.no-character {
  font-size: 3em;
  font-weight: 600;
  color: $main-color;
  text-shadow: 0px 0px 5px $secondary-color;
}
