@import '../../styles/abstract/variables';

.characters-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  margin: 15px auto;

  .card-link {
    color: inherit;
    text-decoration: inherit;
  }

  &.view-mode_list {
    .card-link {
      width: 100%;
    }
  }
}

.controls {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  column-gap: 100px;
  justify-content: space-around;
}

.no-character {
  font-size: 3em;
  font-weight: 600;
  color: $main-color;
  text-shadow: 0px 0px 5px $secondary-color;
}
